<section class="content-wrapper">
    <h2 class="text-secondary">Dashboard</h2>

    {{!-- new post form --}}
    <form class="form-group new-post-form p-2 rounded">
        <div class="form-title lead pb-1 mb-2">
            new post
        </div>
        <div class="form-div">
            <label for="post-title">title:</label>
            <input type="text" name="post-title" id="post-title" class="form-control" />
        </div>
        <div class="form-div">
            <label for="post_body">share your thoughts:</label>
            <textarea name="post-body" id="post-body" class="form-control"></textarea>
        </div>
        <div class="form-btn">
            <button type="submit" class="btn-brand">submit</button>
        </div>
    </form>

    <section class="post-data">
        <div class="text-center user-posts">
            {{#each posts as |post|}}
            <div class="post-control">
                <a href="/dashboard/post/{{post.id}}" class="clean-link">edit post</a>
                <button type="button" class="btn-brand btn-delete">delete post</button>
            </div>
            {{>post-card post}}
            {{/each}}
        </div>
    </section>
</section>

<script src="/javascript/new-post.js"></script>
{{#if posts.length}}
<script src="/javascript/post-votes.js"></script>
{{/if}}