<div class="w-75 text-center m-auto">
    <h2 class="title">tech thoughts</h2>
    <p class="lead">where developers, engineers, programmers, hobbyists, and everyone else can share their thoughts</p>
    <div class="w-75 text-center m-auto p-5">
        <img src="/images/tech-thoughts-icon.png" alt="tech thoughts logo">
    </div>
    <p class="lead text-muted">coming soon</p>
</div>