<section class="content-wrapper">
    <h2 class="lead text-secondary">Recent Posts</h2>
    <div class="text-center">
        {{#each posts as |post|}}
        <article class="post my-3">
            {{>post-card post}}
        </article>
        {{/each}}
    </div>
</section>