<section class="content-wrapper">
    <article class="post my-3">
        {{>post-card post}}
    </article>

    {{#if loggedIn}}
    <form class="form-group comment-form">
        <div class="form-div">
            <label for="comment-body">what are your thoughts?</label>
            <textarea name="comment-body" id="comment-body" class="form-control"></textarea>
        </div>
        <div class="form-btn">
            <button type="button" class="btn-brand btn-vote">like post</button>
            <button type="submit" class="btn-brand">add comment</button>
        </div>
    </form>
    {{/if}}

    {{#if post.comments.length}}
    <div class="wrapper">
        {{#each post.comments as |comment|}}
        {{>comment-card comment}}
        {{/each}}
    </div>
    {{/if}}
</section>